@import 'tailwindcss';

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #090d16;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.carrusel-infinito {
  animation: marquee 30s linear infinite;
}

@keyframes fadeInLeft {
  0% { opacity: 0; transform: translateX(-40px); }
  100% { opacity: 1; transform: translateX(0); }
}

@keyframes fadeInRight {
  0% { opacity: 0; transform: translateX(40px); }
  100% { opacity: 1; transform: translateX(0); }
}